* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-headline: #131313;
    --color-primary-text: #727272;
    --color-nav-text: #424242;
    --color-white: #ffffff;
    --color-btn: #FF900E;
    --color-banner-bg: rgba(255, 144, 14, 0.1);
    --color-footer-bg: #FFF4E7;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
    color: var(--color-primary-text);
}

input,
button,
textarea,
select {
    font: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ==================== 
    Common Style
=======================*/

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 3rem;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.headline-primary,
.headline-secondary {
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-headline);
}

.headline-primary {
    font-size: 6.4rem;
    margin-bottom: 1.7rem;
}

.headline-secondary {
    font-size: 4.5rem;
    margin-bottom: 2.4rem;
}

.font-w-semibold {
    font-weight: 500 !important;
}

.font-s-small {
    font-size: 2rem !important;
}

.font-s-color {
    color: var(--color-btn);
}

.btn,
.btn:link,
.btn:visited {
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-btn);
    color: var(--color-white);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: all 300ms;
}

.btn-more:link,
.btn-more:visited {
    font-size: 2rem;
    padding: 2rem 2.4rem;
}

.btn-experience:link,
.btn-experience:visited {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    padding: 2.5rem 3rem;
}

.feature--description,
.feature-explore--description,
.facts--details {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 3rem;
}