/************* 
    1. Header
        # Logo
        # Navigation

    2. Main
        -- 2.1 Section Banner
            # Banner Text Box
            # Banner Image

        -- 2.2 Section Features
            # Feature Image
            # Feature Text Box

        -- 2.3 Section Features Explore
            # Features Explore Info
            # Features Explore Thumbnail

        -- 2.4 Section Some Facts
            # Facts
            # Achievements

        -- 2.5 Section Creative Project
            # Projects

        -- 2.6 Section CTA
            # CTA Headline
            # CTA Text

        -- 2.7 Section Sponsors
            # Sponsor Headline
            # Sponsor Info
            # Sponsor Company Logo

    3. Footer
        # Copyright Text
**************/

/*  1. Header */

.header {
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: absolute;
    width: 100%;
}

.logo:link,
.logo:visited {
    color: var(--color-headline);
    display: inline-block;
}

.logo--text {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 3.3;
}

.nav-list {
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav-link:link,
.nav-link:visited {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
    color: var(--color-nav-text);
}

/* 2.1 Section Banner */

.section-banner {
    background-color: var(--color-banner-bg);
    padding-top: 14rem;
    padding-bottom: 4.5rem;
}

.banner {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.banner--text-box {
    /* padding: 14rem 20rem 0 20rem; */
    padding-left: 20rem;
    padding-right: 20rem;
}

.banner--paragraph {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.banner--img {
    width: 100%;
}

/* 2.2 Section Features */

.section-feature {
    margin: 8.5rem 0;
}

.feature {
    gap: 7rem;
    align-items: center;
    justify-content: center;
}

.feature--images {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.feature--text-box .font-w-semibold {
    color: var(--color-primary-text);
}

/* 2.3 Section Features Explore */

.section-feature-explore {
    margin: 4.5rem 0;
}

.feature-explore {
    gap: 5.4rem;
    align-items: center;
    justify-content: space-around;
}

.feature-explore--headline {
    position: relative;
    padding-left: 2.6rem;
}

.feature-explore--headline::before {
    content: '';
    position: absolute;
    background-color: var(--color-btn);
    height: 80%;
    width: 4px;
    top: 10%;
    left: 0%;
    border-radius: 1px;
}

.feature-explore--lists {
    flex-direction: column;
    gap: 2rem;
}

.feature-explore--single {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 2rem 3rem;
    transition: all 300ms;
}

.feature-explore--single:hover {
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    transform: translateY(-2%);
}

.feature-explore--single-name {
    color: var(--color-headline);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.feature-explore--single-description {
    font-size: 1.4rem;
    line-height: 1.6;
}

.feature-explore--thumbnail {
    position: relative;
}

.btn-absolute {
    position: absolute;
    left: 6%;
    bottom: -6%;
}

/* 2.4 Section Some Facts */

.section-facts {
    margin: 8.5rem 0;
}

.facts {
    margin-bottom: 7rem;
}

.facts--details {
    max-width: 46%;
}

.achievements {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 1px;
    padding: 4.5rem 3.6rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    transition: all 400ms;
    position: relative;
}

.achievement:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transform: translateY(-5%);
}

.achievement:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #FF900E;
}

.achievement:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2.1px;
    width: 100%;
    background-color: #FF900E;
}

.achievement--count {
    font-size: 4.5rem;
    line-height: 1.3;
    font-weight: 600;
    color: var(--color-nav-text);
}

.achievement--info {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 600;
}

/* 2.5 Section Creative Project */

.section-creative-project {
    margin-bottom: 10rem;
}

.creative-project {
    margin-bottom: 5rem;
}

.project-headline {
    max-width: 42%;
}

.projects {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.6rem;
    align-items: center;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    align-items: flex-start;
    justify-content: stretch;
    transition: all 300ms;
}

.project:hover {
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    border-bottom: 1px solid rgba(255, 143, 14, 0.8);
    transform: translateY(-2%);
}

.project--icon {
    font-size: 2.5rem;
    color: var(--color-btn);
}

.project--name {
    color: var(--color-headline);
    font-size: 2rem;
    font-weight: 600;
}

.project--details {
    font-size: 1.4rem;
    line-height: 1.6;
}

.btn-transparent i.fa {
    margin-left: 5px;
}

/* 2.6 Section CTA */

.section-cta {
    background-color: var(--color-footer-bg);
    margin-bottom: 8rem;
}

.cta {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    column-gap: 3.6rem;
}

.cta--text {
    padding: 1.5rem 0px;
}

.btn-cta i.fa {
    margin-left: 5px;
}

/* 2.7 Section Sponsors */

.section-sponsors {
    margin-bottom: 8rem;
}

.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.sponsor--info {
    max-width: 47%;
}

.sponsor-company {
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.sponsor-company--img {
    filter: brightness(0);
    opacity: 50%;
    transition: all 300ms;
}

.sponsor-company--img:hover {
    filter: none;
    opacity: 100%;
}

/* 3. Footer */

.footer {
    background-color: var(--color-footer-bg);
}

.copyright-text {
    font-size: 2rem;
    line-height: 1.4;
    padding: 3.8rem 0;
    text-align: center;
}